<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.jeeweb.modules.test.db.UserLeaveMapper">
        <!-- select璇彞 -->
    <select id="selectUserByID" parameterType="String" resultType="UserLeave">
        select * from user_leave p where p.id = #{id}
    </select>

</mapper>