<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.jeeweb.modules.leave.mapper.UserLeaveMapper" >
    <resultMap id="BaseResultMap" type="cn.jeeweb.modules.leave.entity.UserLeave" >
        <id column="id" property="id" jdbcType="VARCHAR" />
        <result column="Name" property="username" jdbcType="VARCHAR" />
        <result column="LeaveType" property="leavetype" jdbcType="VARCHAR" />
        <result column="StartDate" property="startdate" jdbcType="VARCHAR" />
        <result column="EndDate" property="enddate" jdbcType="VARCHAR" />
        <result column="Remark" property="remark" jdbcType="VARCHAR" />
        <result column="LeaveName" property="leavename" jdbcType="VARCHAR" />
        <result column="User_ID" property="userid" jdbcType="VARCHAR" />
    </resultMap>
    <sql id="Base_Column_List" >
      id,
      partNumber,
      station,
      currentType,
      nextType,
      measureDate,
      endDate,
      takeTime,
      changeType
  </sql>
    <sql id="queryTable" >
          user_leave
    </sql>

    <select id="selectUserLeaveEvent" resultMap="BaseResultMap">
        select
        *
        from <include refid="queryTable" />
        <where>
            ${ew.sqlSegment}
        </where>

    </select>

    <select id="selectUserLeaveStatics" resultMap="BaseResultMap">
        select Name, sum(case LeaveType when '事假' then Days+1 else 0 end) 'affair',
        sum(case LeaveType when '病假' then Days+1 else 0 end) 'sick',
        sum(case LeaveType when '带薪年假' then Days+1 else 0 end) 'paid',
        sum(case LeaveType when '补充年假' then Days+1 else 0 end) 'addition',
        sum(case LeaveType when '加班串休' then Days+1 else 0 end) 'workover',
        sum(case LeaveType when '加班' then Days+1 else 0 end) 'overtime',
        sum(case LeaveType when '特殊加班' then Days+1 else 0 end) 'special',
        sum(case LeaveType when '国内差旅' then Days+1 else 0 end) 'domestic',
        sum(case LeaveType when '国际差旅' then Days+1 else 0 end) 'international'
        from
        (
        SELECT Name, LeaveType, sum(DATEDIFF(day, StartDate,EndDate)) as Days
        from <include refid="queryTable" />
        <where>
            ${ew.sqlSegment}
        </where>
        group by Name, LeaveType
        ) b

        group by Name

    </select>

</mapper>