<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.jeeweb.modules.kiener.mapper.MeasureDataMapper" >
    <resultMap id="BaseResultMap" type="MeasureData" >
        <id column="ID" property="id" jdbcType="BIGINT" />
        <result column="ID" property="id" jdbcType="BIGINT" />
        <result column="PartNumber" property="partNumber" jdbcType="VARCHAR" />
        <result column="Station" property="station" jdbcType="INTEGER" />
        <result column="Variety" property="variety" jdbcType="VARCHAR" />
        <result column="Date" property="measureDate" jdbcType="DATE" />
        <result column="Ok" property="ok" jdbcType="BOOLEAN" />
        <!--<result column="nextId" property="nextId" jdbcType="BIGINT" />-->
        <result column="nextDate" property="nextDate" jdbcType="DATE" />
        <result column="takeTime" property="takeTime" jdbcType="BIGINT" />
    </resultMap>
    <sql id="Base_Column_List" >
      ID,
      PartNumber,
      Station,
      Variety,
      A.Date as "measureDate",
      B.Date as "nextDate",
      DATEDIFF(ms , A.Date, B.Date ) as "takeTime"
  </sql>
    <sql id="Base_Column_List_1" >
        A.ID,
        A.PartNumber,
        A.Station,
        A.Variety,
        A.Date as "measureDate",
        B.Date as "nextDate",
        DATEDIFF(ms , A.Date, B.Date ) as "takeTime"
    </sql>

    <select id="selectTakeTime" resultType="MeasureData">
        select
        <include refid="Base_Column_List_1" />
        from MeasurementGeneralData  A left join  MeasurementGeneralData  B on A.ID = B.ID - 1
        <where>
            ${ew.sqlSegment}
        </where>
    </select>

    <select id="selectTakeTimePage" resultType="MeasureData">
        select <include refid="Base_Column_List_1" />
        from tmpMeasureData_1 A left join tmpMeasureData_2  B on A.rowId = B.rowId -1
        where B.Date is not null
    </select>

</mapper>